h1{
    font-size: 40px;
    font-family: 'Staatliches';
    font-weight: lighter;
    color: darkgoldenrod;
    text-align: center;
    margin: 20px 0px 10px 0px;
}

#theForm{
    display: flex;
    justify-content: center;
}

#btn{
    font-size: 30px;
    background-color: darkgoldenrod;
    border-style: outset;
    border-color: darkgoldenrod;
    border-width: 10px;
    border-radius: 10%;
    color: white;
    font-family: 'Staatliches';
    font-weight: lighter;
    margin: 0px 10px;
}
#userInput{
    font-family: 'Staatliches';
    font-weight: lighter;
    font-size: 30px;
    border-color: darkgoldenrod;
    border-width: 10px;
    border-radius: 10%;
    margin: 0px 10px;
}

h2{
    width: 95%;
    font-size: 30px;
    background-color: darkgoldenrod;
    color: white;
    font-family: 'Staatliches';
    font-weight: lighter;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 5%;
    padding: 10px;
    border-color: darkgoldenrod;
    border-width: 10px;
    border-style: ridge;
    text-align: center;
}
.article{
    display: flex;
    flex-direction: column;
    border-bottom: solid 3px;
    align-items: center;
    padding: 20px 0px;
}

.newImage{
    width: 200px;
    margin: 20px 5px;
    border-style: outset;
    border-color: darkgoldenrod;
    border-width: 10px;
    border-radius: 10%;
}

a{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Staatliches';
    font-weight: lighter;
    color: black;
}

a:hover{
    color: darkgoldenrod;
}